/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
body {
	margin:0;
	}

#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}
	
/* PROJECT TITLE DIV */
.projecttitle {
	width: 100%;
	height:50px;
	}
	
/* PROJECT TITLE INPUT - SHOULD BECOME NAME OF PROJECT AFTER BEING INPUT */
.title-input {
	color:#FFFFFF;
	width:100%;
	height:50px;
	text-align:center;
	font-size:2.2em;
	background-color:#999999;
	padding:0;
	border: 0px solid #EEC5A9;
	border-bottom: 2px solid #EEC5A9;
	}

/* EVERY SINGLE BUTTON */
.accordionButton {
	color:white;	
	width: 100%;
	height:50px;
	/* border-top: 1px solid #EEC5A9; */
	cursor: pointer;
	text-align:center;
	padding-left:0px;
	display:inline-block;
	}

.accordionButton h4 {
	font-family: ‘Raleway’, serif;
	font-weight: 400;
	text-align: left;
	text-indent: 10%;
}
	
/* CONTAINER FOR ACCORDION CONTENT */
.accordionContent {
	display: none;
	width: 100%;
	background: #B4E6FF;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	padding-top:20px;
	padding-bottom:50px;
	}

/* CONTAINER FOR 3 TEXT INPUT FORMS AND SAVE BUG BUTTON */
.inputcontainer {
	width:80%;
	height:60%;
	border-bottom: 2px solid #7C7C7C;
	background: #FFFFFF;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
	}
	
.inputcontainer p {
	font-family: ‘Raleway’, serif;
	font-weight: 700;
	margin:0;
	line-height:2em;
	font-size:0.9em;
	}
	
/* STYLES THE TEXT-INPUT BOXES INCLUDING TITLE */
input[type="text"]
{
	font-family: ‘Raleway’, serif;
	font-weight: 700;
}

input[type="text"].small-input {
	font-weight: 400;
}

.small-input {
	width:99%;
	border:none;
	background: #F7F7F7;
	line-height:1.5em;
	}
	
.large-input {
	width:99%;
	max-width:99%;
	min-width:99%;
	max-height:300px;
	border:none;
	background: #F7F7F7;
	padding:1px;
	}
	
/* DIV USED TO POSITION "SAVE BUG" BUTTON */
.savebuttoncontainer {
	height:30px;
	width:33%;
	max-width:175px;
	margin:10px auto 0 auto;
	}
	
/* BUTTONS */
.accordionContent a {
	font-family: ‘Raleway’, serif;
	font-weight: 700;
	display: inline-block;
	font-size: 0.9em;
}

.buttonContainer {
	width:200px;
	height:100%;
	margin: 0 auto;

}

.buttonContainer div:first-child {
	float:left;
}

.buttonContainer div:nth-child(2) {
	float:right;
}

.nobugsbuttondiv {
	border:none;
	font-size:0.9em;
	text-decoration:none;
	background: #F7F7F7;
	height:30px;
	width:80px;
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin: 10px 0;
}

.nobugsbutton {
}

.nobugsbutton:link {color:black; text-decoration:none}
.nobugsbutton:visited {color:black; text-decoration:none}
	
.newbugbuttondiv {
	border:none;
	font-size:0.9em;
	text-decoration:none;
	background: #F7F7F7;
	height:30px;
	width:80px;
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin: 10px 0;
}

.newbugbutton {
}

.newbugbutton:link {color:black; text-decoration:none}
.newbugbutton:visited {color:black; text-decoration:none}


/* CONTAINER FOR SUBMIT BUTTON (BOTTOM DIV) */
.sendreport {
	width: 100%;
	height:100px;
	border-top: 2px solid #000000;
	background:#F7F7F7;
	}
	
#sendreportbutton {
	height:40px;
	width:44%;
	border: 0;
	background: #D8D8D8;
	font-size:0.7em;
	font-weight:bold;
	margin: 30px 28% 30px 28%;
	}
	
/* COLOR CODING FOR DIFFERENT DEVICES */

.mac-1{
	background:#1df079;
	}
	
.mac-2{
	background:#1de481;
	}
	
.mac-3{
	background:#1dd88a;
	}

.pc-1{
	background:#1dcc92;
	}
	
.pc-2{
	background:#1dc09b;
	}
	
.pc-3{
	background:#1db4a3;
	}
	
.pc-4{
	background:#1da8ac;
	}
	
.pc-5{
	background:#1d9db4;
	}
	
.pc-6{
	background:#1d91bd;
	}						

.nexus-1{
	background:#1d85c5;
	}
	
.nexus-2{
	background:#1d79ce;
	}

.ipad-1{
	background:#1d6dd6;
	}
	
.ipad-2{
	background:#1d61df;
	}

.ipad2-1{
	background:#1d55e7;
	}
	
.ipad2-2{
	background:#1d4af0;
	}

.iphone-1{
	background:#1B46E3;
	}
	
.iphone-2{
	background: #1A41D4;
	}
