/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
body {
	margin:0;
}

#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* PROJECT TITLE DIV */
.projecttitle {
	width: 100%;
	height:100px;
}

/* PROJECT TITLE INPUT - SHOULD BECOME NAME OF PROJECT AFTER BEING INPUT */
.projecttitle .title-input {
	color:#FFFFFF;
	width:100%;
	height:100px;
	text-align:center;
	font-size:2.0em;
	font-weight:700;
	background-color:#494949;
	padding:0;
	border: 0px solid #EEC5A9;
	border-bottom: 2px solid #EEC5A9;
}

/* EVERY SINGLE BUTTON */
.accordionButton {
	width: 100%;
	height:75px;
	cursor: pointer;
	text-align:center;
	padding-left:0px;
	display:inline-block;
	transition: background-color 1.0s;
	-moz-transition: background-color 1.0s;
	-webkit-transition: background-color 1.0s;
	-o-transition: background-color 1.0s;
}

.accordionButton h4 {
	font-family: Raleway;
	font-weight: 400;
	color:white;
	text-align:left;
	text-indent: 10%;
	vertical-align:middle;
	margin-top:29px;
	float:left;
	width:70%;
}

.accordionButton h4.plus{
	margin-top:23px;
	font-size:1.8em;
	text-align:left;
	float:right;
	text-indent:0;
	width:8%;
}




/* DIVIDER */
/* .divider {
	height:30px;
	background-color:#494949;
	width:100%;
} */

/* CONTAINER FOR ACCORDION CONTENT */
.accordionContent {
	display: none;
	width: 100%;
	border-bottom: 0;
	border-top: 0;
	padding-top:20px;
	padding-bottom:67px;
	transition: background-color 1.0s;
	-moz-transition: background-color 1.0s;
	-webkit-transition: background-color 1.0s;
	-o-transition: background-color 1.0s;
}

/*COLOR TRANSITIONS*/
.accordionContent.hover1 {
	background-color: white;
}
.accordionButton.hover1 {
	background-color: white;
}

/* CONTAINER FOR 3 TEXT INPUT FORMS AND SAVE BUG BUTTON */
.inputcontainer {
	width:80%;
	height:203px;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
	background-color:white;
}

.inputcontainer p {
	font-family: Raleway;
	font-weight: 400;
	margin:0;
	line-height:2em;
	font-size:0.9em;
	color: black;
}

/* STYLES THE TEXT-INPUT BOXES INCLUDING TITLE */
input[type="text"]
{
	font-family: Raleway;
	font-weight: 400;
}

input[type="text"].small-input {
	font-weight: 400;
}

.small-input {
	width:99%;
	border:none;
	border-bottom:1px solid black;
	border-right:1px solid black;
	background: white;
	line-height:1.5em;
}

.small-input:focus {
	outline: none;
}

.large-input {
	font-family: Raleway;
	font-weight: 400;
	width:99%;
	max-width:99%;
	min-width:99%;
	max-height:300px;
	border:none;
	border-bottom:1px solid black;
	border-right:1px solid black;
	background: white;
	padding:1px;
}

.large-input:focus {
	outline: none;
}

/* DIV USED TO POSITION "SAVE BUG" BUTTON */
.savebuttoncontainer {
	height:30px;
	width:33%;
	max-width:175px;
	margin:10px auto 0 auto;
}

/* BUTTONS */
.accordionContent a {
	font-family: Raleway;
	font-weight: 400;
	display: inline-block;
	font-size: 0.9em;
}

.buttonContainer {
	width:300px;
	height:100%;
	margin: 0 auto;
}

@media (max-width:400px) {
	.buttonContainer {
		width:230px;
	}
}

.buttonContainer div:first-child {
	float:left;
}

.buttonContainer div:nth-child(2) {
	float:right;
}

.nobugsbuttondiv {
	border:none;
	font-size:0.9em;
	text-decoration:none;
	background: white;
	height:30px;
	width:88px;
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin: 5px 0 0 0;
	padding:7px;
	background-color: #D8D8D8;
}

.nobugsbutton {
}

.nobugsbutton:link {color:black; text-decoration:none}
.nobugsbutton:visited {color:black; text-decoration:none}

.newbugbuttondiv {
	border:none;
	font-size:0.9em;
	text-decoration:none;
	background: white;
	height:30px;
	width:88px;
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	margin: 5px 0 0 0;
	padding:7px;
	background-color: #D8D8D8;
}

.newbugbutton {
}

.newbugbutton:link {color:black; text-decoration:none}
.newbugbutton:visited {color:black; text-decoration:none}


/* CONTAINER FOR SUBMIT BUTTON (BOTTOM DIV) */
.sendreport {
	width: 100%;
	height:100px;
	background:white;
}

#sendreportbutton {
	font-family: Raleway;
	font-weight: 400;
	font-size:1.0em;
	height:50px;
	width:80%;
	max-width:300px;
	border:0;
	background: #D8D8D8;
	margin: 37px auto 30px auto;
	padding:2px;
	display:block;
}

/* COLOR CODING FOR DIFFERENT DEVICES */

.mac-1{
	background:#1df079;
	border-bottom:1px solid #1df079;
}

.mac-2{
	background:#1de481;
	border-bottom:1px solid #1de481;
}

.mac-3{
	background:#1dd88a;
	border-bottom:1px solid #1dd88a;
}

.pc-1{
	background:#1dcc92;
	border-bottom:1px solid #1dcc92;
	border-top:solid 5px white;
}

.pc-2{
	background:#1dc09b;
	border-bottom:1px solid #1dc09b;
}

.pc-3{
	background:#1db4a3;
	border-bottom:1px solid #1db4a3;
}

.pc-4{
	background:#1da8ac;
	border-bottom:1px solid #1da8ac;
}

.pc-5{
	background:#1d9db4;
	border-bottom:1px solid #1d9db4;
}

.pc-6{
	background:#1d91bd;
	border-bottom:1px solid #1d91bd;
}

.nexus-1{
	background:#1d85c5;
	border-bottom:1px solid #1d85c5;
	border-top:solid 5px white;
}

.nexus-2{
	background:#1d79ce;
	border-bottom:1px solid #1d79ce;
}

.ipad-1{
	background:#1d6dd6;
	border-bottom:1px solid #1d6dd6;
	border-top:solid 5px white;
}

.ipad-2{
	background:#1d61df;
	border-bottom:1px solid #1d61df;
}

.ipad2-1{
	background:#1d55e7;
	border-bottom:1px solid #1d55e7;
	border-top:solid 5px white;
}

.ipad2-2{
	background:#1d4af0;
	border-bottom:1px solid #1d4af0;
}

.iphone-1{
	background:#1B46E3;
	border-bottom:1px solid #1B46E3;
	border-top:solid 5px white;
}

.iphone-2{
	background: #1A41D4;
	border-bottom:1px solid #1A41D4;
}
